.info-box{
  background-color: #deb887;
}
.important{
  padding: 1rem;
  text-align: center;

}
.list-info{
  padding: 1rem 2rem;
}

.list-info li{
  line-height: 1.5;
}

body {
  background-color: cadetblue;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: #484848;
}

.box {
  max-width: 700px;
  margin: auto;
}

.control-dots, .nav_btn, .carousel-status{
  display: none;
}

.slider-wrapper {
  padding-top:2rem;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid #daa718;
}

.slide.selected {
  border: 3px solid #daa718;
}

